div {
    font-weight: bold;
}

body {
    height: 40vh;
    background-color: #f6f5f4;
    display: grid;
    place-items: center;
    font-family: poppins;
}

.form {
    background-color: #adb34b;
    padding: 5px 15px 10px 15px;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
}

.form1 {
    background-color: #adb34b;
    padding: 5px 15px 10px 15px;
    border-radius: 7px;
}

.center {
    justify-content: center;
    text-align: center;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#info{
    position: relative;
    cursor: pointer;
}

#infoText{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #adb34b;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#infoText::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
}

#info:hover #infoText{
    top: -280%;
    left: 40%;
    visibility: visible;
    opacity: 1;
}

#textboxid
{
    height:150px;
    width:735px;
    font-size:14pt;
    resize:none;
}


/* .popup{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition:opacity 100ms ease-in-out 200ms;

}

.popup .popupcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(1.15);
    width: 95%;
    max-width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0,0,0,0.5);
    transition: all 300ms ease-in-out;
}

.popup .content h2{
    margin: 10px 0px;
    font-size: 25px;
    color: #111;
    text-align: center;
}

.popup .content p{
    margin: 10px 0px;
    font-size: 16px;
    color: #222;
    text-align: center;
}

.popup .content .control{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0xp;
}

.popup .content .control button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.popup .content .control .close{
    background: transparent;
    color: #3284ed;
}

.popup.active{
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay{
    opacity: 1;
    transition:all 300ms ease-in-out;
}

.popup.active .popupContent{
    transform:translate( -50%, -50%) scale(1);
    opacity: 1;
} */

