div {
    font-weight: bold;
}

body {
    height: 40vh;
    background-color: #eee;
    display: grid;
    place-items: center;
    font-family: poppins;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
